
@media screen and (max-width: 700px) {
    * {
        box-sizing: border-box;

    }
    .first_container  {   
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      align-content: stretch;
      width: 100%;
      box-sizing: border-box;

      
      
    }
    .headline_and_interested {
        display: flex;
        height: 1300px;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;


    }
    #write_headline_box {
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: stretch;
        width: 100%;
        box-sizing: border-box;


    }


    #interested_box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: stretch;
        width: 100%;
        

  
    }
    #interested_box_p {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: stretch;
        width: 100%;
    }

    .form_div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: stretch;
        margin: 0%;
    }



    .second_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: stretch;
        width: 100%;

        
    }
    .third_container {
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    
    }
    

}

@media screen and (min-width: 700px) {
    .first_container  {  
        flex-direction: row;

    }

    #secret_button {
        display: none;

    }

    #secret_button_hr {
        display: none;

    }

    .second_container {
        float: left;
        display: flex;
        flex-direction: row;
        height: 400px;
        padding: 30px;
        text-align: center;
        font-size: larger;
        align-content: center;
        
    }
    .second_container div {
        padding: 30px;

    }



    .third_container {
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    #footer p {
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: center;
        text-align: center;

        
    }


}






#your_logo {
    font-size:x-large;
    
}

.headline_and_interested {
    float: left;
    background-image: url('./assets/laptop_image.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  }

#write_headline_box {
    float: left;
    flex: 50%;
    color: white;
    padding: 50px;
}

#secret_button {
    color: white;
    background-color: orange;
    text-align: center;
    border: none;
    line-height: 20px;
    vertical-align: 20px;
    font-size: larger;
    padding: 5px 70px 5px 70px;
    white-space: nowrap; 

    
    

}

#interested_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 50%;
    text-align: center;
    color: white;
    background: rgba(214, 227, 214, 0.4);
    padding: 50px 20px 20px 20px;

}

#interested_box_p {
    font-size: x-large;

}

.form_div {
    margin: 10px;
}

.form_label_input {
    padding: 7px 130px 13px 7px;
}

#form_input_button {
    padding: 20px 67px 20px 67px;
    text-align: center;
    background-color: orange;
    color: white;
    border: none;
    line-height: 20px;
    vertical-align: 20px;
    font-size: larger;
}


.third_container {
    background-image: url('./assets/grey_background.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    

}

#ceo_image {
    width: 190px;
    height: 180px;
    border-radius: 50%;
}

#footer {
    text-align: center;
    flex-direction: column;
    


}